/* Reset CSS */

/* Box model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: #06c;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tables */
table {
  border-spacing: 0;
}

th,
td {
  padding: 0;
  border: none;
}

/* Images */
img {
  height: auto;
  margin: 0 auto;
}

/* Forms */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  border: 1px solid #ccc;
}

input[type="submit"] {
  cursor: pointer;
}

/* Misc */
html {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
}
